<h1>Sobre o PorCA</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <p>A ideia do PorCA (Portal de Colaboração Acadêmica) surgiu a partir
        da observação de que alunos da graduação frequentemente tentam
        de encontrar e compartilhar materiais de estudo de anos anteriores; 
        mas atualmente essa tarefa é difusa e pouco otimizada.</p>
        <p>O PorCA será um local para centralizar provas, exercícios,
        trabalhos etc, para que sejam encontrados de maneira fácil e 
        eficiente.</p>
    </div>
    <div class="panel-footer">Ainda em desenvolvimento</div>
</div>
