<h1>Perguntas Frequentes</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        O que é esse site?
    </div>
    <div class="panel-body">
        Leia o <a href="/about">Sobre</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Por que o site é todo... estranho?
    </div>
    <div class="panel-body">
        Os desenvolvedores tentaram dar uma mordida maior que a boca,
        tiveram uma ideia muito legal e tentaram fazer tudo ao mesmo
        tempo, sem ter conhecimento técnico para tanto. No final das
        contas ficaram várias funcionalidades semi-implementadas que
        não funcionavam direito, e para entregar o trabalho em tempo
        hábil acabamos tendo que deixar o site... assim.
    </div>
</div>