<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Selecione a Disciplina</h3>
  </div>
  <div class="panel-body">
    <%= form_for_filterrific @filterrific do |f| %>
      <div>
        Busca
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed'
        ) %>
      </div>
      <div>
        Semestre
        <%= f.select(
          :with_semester,
          @filterrific.select_options[:with_semester],
          { include_blank: '- Any -' }
        ) %>
      </div>
    <% end %>
  </div>
  <%= render(
    partial: 'courses/list',
    locals: { courses: @courses }
  ) %>
</div>




